SENTRY_DSN=https://user:pass@sentry.io/XXXXXX
USE_SENTRY=yes
SENTRY_ENVIRONMENT=localdevelopment
AWS_ACCESS_KEY=XXXXXXXXXXXXXXXXXXXX
AWS_SECRET_ACCESS_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
AWS_S3_BUCKET=XXXXXXXXXXXXXX.s3.XXXXXXXXXXXX.amazonaws.com
